.table-responsive 
  %table.table.table-bordered.table-striped
    %thead.venue_head
      %tr
        %th First Name
        %td= @user.first_name
      %tr
        %th Last Name
        %td= @user.last_name
      %tr
        %th Email
        %td= @user.email
      %tr
        %th Birth Date
        %td= @user.birth_date.strftime("%m/%d/%Y")
      %tr
        %th Roles
        %td
          - @user.roles.each do |r|
            = r.name       